body{
	background: #fafafa
}

.msg{
	position: absolute;
	background: #DFF0D8;
	padding: 5px;
	border-radius: 5px;
	color: #333;
	text-align: center;
}

.posts-empty{
	position: relative;
	top: 60px;
	background: #fff;
	padding: 30px;
	text-align: center;
}

.post-form{
	background: #fff;
	margin-top: 35px;
	border-radius: 5px;
	padding: 0;
	position: relative;
	margin-bottom: 0
}

.post-form .button{
	position: absolute;
	right: 0px;
    bottom: 0px;
}

.post-form .image{
	padding: 0px;
	border: none;
}


/*posts*/

.post{
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 0;
	border-radius: 5px 
}

.post .content{
  background: #fff;
}

.post .txt{
	padding: 10px
}

.icons i{
	margin: 5px;
	position: relative;
	right: -5px
}

.q{
    margin-top: 10px;
    overflow: hidden;
    padding: 0
}

.q .q1{
    margin-bottom: 10px;
    margin-top: 0px
}

.q .image {
	height: 500px;
	width:  100%
}
.q .image div{
    width: 100%;
    height: 100%;
    background-size: cover  !important;
    background-repeat: no-repeat !important 
}

.w{
  
}

.q img{
    border-radius: 5px
}

.like{
    padding-left: 5px;
    padding-top: 10px; 
    display: inline-block;
    margin-right: 40px
}

.like a{
    margin-left: 10px;
    font-weight: bold;
    color: #777
}
.like a i{
    padding-right: 8px
}

.posts{
    margin-top: 10px;
    background: #eee;
    padding: 10px;
    border-radius: 5px
}

.posts input{
    border-radius: 20px;
    width: 355px;
    padding: 5px;
    border: 1px solid #999
        
}

.r input:active{
    border: none
}


/* modal */

.modal-content{
	padding-bottom: 30px !important
}

